<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/styles.css' />
     <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="icon" href="/img/weather.png" />
    <script src="https://cdn.tailwindcss.com"></script>
   
    <title>Weather</title>
  </head>
  <body>
    {{>header}}
      <form onsubmit="">
       <input type="text" placeholder="Location" class="input input-bordered input-info w-full max-w-xs" />
       <button type="submit" class="btn btn-outline btn-info">Search</button>
      </form>
    {{>footer}}
  <script src='./js/app.js'></script>
  </body>
</html>